@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: 'Gilroy';
    src:
      url(/assets/fonts/gilroy-medium.woff2) format('woff2'),
      url(/assets/fonts/gilroy-medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Gilroy';
    src:
      url(/assets/fonts/gilroy-semibold.woff2) format('woff2'),
      url(/assets/fonts/gilroy-semibold.woff) format('woff');
    font-style: normal;
    font-weight: 600;
  }

  @font-face {
    font-family: 'Gilroy';
    src:
      url(/assets/fonts/gilroy-extrabold.woff2) format('woff2'),
      url(/assets/fonts/gilroy-extrabold.woff) format('woff');
    font-style: normal;
    font-weight: 800;
  }

  @font-face {
    font-family: 'Hanson';
    src:
      url(/assets/fonts/hanson-bold.woff2) format('woff2'),
      url(/assets/fonts/hanson-bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
  }

  :root {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(201 16% 65% / 0.15);
    --card-foreground: hsl(0 0% 98%);
    --card-shadow: hsl(195 6% 14%);

    --tabs: hsl(0 0% 100% / 20%);

    --hero-background: radial-gradient(25.28% 59.69% at 96.14% 0%, var(--background) 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(43.97% 54.13% at 4.53% 7.98%, var(--background) 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(23.77% 42.42% at 35.17% 116.1%, var(--background) 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(180deg, var(--primary) 0%, var(--background) 150.55%);

    --hero-foreground: #fff;

    --master-background: radial-gradient(26.67% 62.96% at 86.46% 88.22%, #000000 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(43.97% 54.13% at 4.53% 7.98%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(36.66% 50.26% at 35.17% 116.1%, #000000 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(180deg, #1f282d 0%, #0a141a 109.55%);

    --light-primary: radial-gradient(40.17% 29.93% at 53.91% -9.27%, var(--primary) 0%, rgba(94, 135, 120, 0) 100%)
      #050505;

    --light-green: radial-gradient(
        40.17% 29.93% at 53.91% -9.27%,
        hsla(126, 100%, 74%, 1) 0%,
        rgba(94, 135, 120, 0) 100%
      )
      #050505;

    --light-pink: radial-gradient(
        40.17% 29.93% at 53.91% -9.27%,
        hsla(324, 100%, 74%, 1) 0%,
        rgba(94, 135, 120, 0) 100%
      )
      #050505;

    --light-blue: radial-gradient(
        40.17% 29.93% at 53.91% -9.27%,
        hsla(191, 100%, 63%, 1) 0%,
        rgba(94, 135, 120, 0) 100%
      )
      #050505;

    --popover: hsl(240 10% 3.9%);

    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(259 100% 50%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 100%);
    --secondary-foreground: hsl(195 6% 14%);

    --tertiary: hsl(0 0% 100% / 0.8);

    --muted: hsl(201 16% 65% / 0.15);
    --muted-foreground: hsl(0 0% 100% / 0.5);

    --accent: hsl(195 6% 50% / 0.3);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 4.9% 83.9%);

    --link: hsl(211 100% 50%);
    --link-foreground: hsl(0 0% 100%);

    --success: hsl(135 67% 43%);
    --success-foreground: hsl(0 0% 100%);

    --warning: hsl(35 100% 50%);
    --warning-foreground: hsl(0 0% 100%);

    --progress: hsl(128 100% 79%);
    --progress-warning: hsl(40 86% 70%);
    --progress-danger: hsl(0 68% 58%);

    --radius: 26px;
    --radius-lg: 40px;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

input[type='number']:invalid {
  border-color: var(hsl(--destructive));
}

.noise {
  position: relative;
  z-index: 10;
}

.noise:after {
  content: '';
  background: url(/assets/images/noise.png) repeat;
  mix-blend-mode: overlay;
  border-radius: var(--radius-lg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: 1;
  background-size: 128px;
}

.noise > * {
  position: relative;
  z-index: 2;
}

.noise .under-noise {
  position: absolute;
  z-index: 0;
}

.overlay {
  mix-blend-mode: overlay;
}